/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
}

/* Estilos para el encabezado */
.inicio {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background-color: #333;
    color: rgb(49, 46, 46);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cambia el ancho del video al 100% */
    height: 100%;
    object-fit: cover;
}

.nombre-sitio {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(44, 42, 42); /* Color del texto */
    font-family: Arial, sans-serif; /* Cambia la fuente aquí */
    font-size: 50px; /* Cambia el tamaño de la fuente aquí */
    font-weight: bold; /* Cambia el peso de la fuente aquí */
}

.ingresar {
    width: 100%;
    margin: 0px;
    padding: 10px 20px;
    background-color: #ff6600;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Cambia la fuente aquí */
    font-size: 16px; /* Cambia el tamaño de la letra aquí */
    font-weight: bold; /* Cambia el peso de la fuente aquí (puede ser normal o bold) */
    text-transform: uppercase;
    transition: background-color 0.3s;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

/* Estilos para el formulario de ingreso */
.formulario {
    text-align: center;
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.formulario h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.formulario button:hover {
    background-color: #f56200;
}

/* Estilos para las secciones del footer */
.redes, .contacto, .ayuda {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.redes h2, .contacto h2, .ayuda h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.redes a, .contacto p, .ayuda p {
  color: white;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.redes img {
  margin: 10px;
  width: 24px;
  height: 24px;
}

.ayuda a {
  text-decoration: underline;
  color: #333;
}

/* Estilos para la sección de contacto */
.contacto {
  flex: 2;
  text-align: center;
  padding: 20px;
  max-width: 400px;
}

.contacto h2 {
  font-size:large;
}