/* 
.inicio {
  background-color: #FFF8D6;
  color: #000000;
  padding: 20px;
  text-align: center;
}

.inicio h1 {
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Lucida Handwriting", sans-serif;
}

.inicio nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Rockwell Extra Bold", sans-serif;
}

.inicio nav ul li {
  margin-right: 20px;
}

.inicio nav ul li a {
  color: #f56200;
  text-decoration: none;
  padding: 10px;
}

/*ESTILOS PARA el Main

.container {
  background: #F7E1AE;
  margin: 0;
  padding: 20px;
}

section {
  display: flex;
  justify-content: space-between;
}

.cuadros {
  border: 20px solid #F7E1AE;
  background-color: #A4D0A4;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cuadros p {
  text-align: left;
  font-family: "Calibri", sans-serif;
  margin-bottom: 0px;
}

h2 {
  margin: 20px auto;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Calibri", sans-serif;
  color: #333;
}

article h3 {
  color: #333;
  margin-top: 10px;
  font-family: "Arial black", sans-serif;
}

article img {
  max-width: 50%;
  margin-top: 10px;
}

/* Estilo al Footer 
  
.final {
  background-color: #617A55;
  color: #000000;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 0px;
  border-top: 3px solid #000;
  padding-top: 10px;
}*/

/* ESTILOS PARA EL HEADER */
.inicio {
  background-color: #FFD700;
  color: #000;
  padding: 20px;
  text-align: center;
}

.inicio h1 {
  font-family: "Lucida Handwriting", sans-serif;
}

.inicio nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Rockwell Extra Bold", sans-serif;
}

.inicio nav ul li {
  margin-right: 20px;
}

.inicio nav ul li a {
  color: #f56200;
  text-decoration: none;
  padding: 10px;
}

/* ESTILOS PARA EL CUERPO */
.container {
  background: #F7E1AE;
  margin: 0;
  padding: 20px;
}

section {
  display: flex;
  justify-content: space-between;
}

.cuadro {
  border: 20px solid #F7E1AE;
  background-color: #A4D0A4;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cuadro p {
  font-family: "Calibri", sans-serif;
  margin-bottom: 0;
}

h2 {
  margin: 20px auto;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

/* ESTILOS PARA EL BOTÓN "Agregar al Carrito" */
button.agregar {
  background-color: #f56200;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.agregar:hover {
  background-color: #f76c19;
}

/* ESTILOS PARA EL FOOTER */
.final {
  background-color: #617A55;
  color: #000;
  padding: 20px;
  text-align: center;
}

footer {
  margin-top: 0;
  border-top: 3px solid #000;
  padding-top: 10px;
}
